{% extends "layout/layout.twig" %}

{% set matrixContent = entry.matrixField.all() %}
{% set assets = entry.imageField.all() %}

{% block content %}
  {% profile "woof" %}
    {% if assets %}
      {% for asset in assets %}
        <img src="{{ asset.url }}" alt="{{ asset.title }}">
      {% endfor %}
    {% endif %} 
  {% endprofile %}

  <ul>
    {% for block in matrixContent %}
      {% if block.type == "checkbox" %}
        <ul class="checkbox">
          {% for option in block.checkbox %}
            <li>{{ option }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if block.type == "text" %}
        <li>
          {{ block.text }}
        </li>
      {% endif %}
      {% if block.type == "image" %}
        <li>
          <img src="{{ block.image.one().url }}" alt="{{ block.image.one().title }}">
        </li>
      {% endif %}
      {% if block.type == "entryPicker" %}
        <li>
          {{ block.entryPicker[0].title }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  -----------------------------------------------
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
  -----------------------------------------------
  <div>
{% set 
  entries = craft.entries()
  .section('info')
  .with(['imageField'])
  .all() 
%} 

{% for entry in entries %}
  {% set image = entry.imageField[0] %}
  {% if image %}
    <img src="{{ image.url }}" alt="{{ image.title }}">
  {% endif %}
{% endfor %}
  </div>
{% endblock %}
